@import url(https://db.onlinewebfonts.com/c/cef287640b99a6df2ffaee3ad24851af?family=Vito+Wide);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import './base.css';

h1, .navbar-title {
    font-family: "Vito Wide", serif;
    font-style: italic;
    font-weight: bold;
}

p, a, button, .font-space {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
}

/* Hide scrollbar globally */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}