@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.004 49.25);
    --color-base-200: oklch(21% 0.006 56.043);
    --color-base-300: oklch(26% 0.007 34.298);
    --color-base-content: oklch(97% 0.001 106.424);
    --color-primary: oklch(87% 0.15 154.449);
    --color-primary-content: oklch(26% 0.065 152.934);
    --color-secondary: oklch(84% 0.143 164.978);
    --color-secondary-content: oklch(26% 0.051 172.552);
    --color-accent: oklch(87% 0.169 91.605);
    --color-accent-content: oklch(27% 0.077 45.635);
    --color-neutral: oklch(37% 0.01 67.558);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
